@import 'styles/global';

.page-numbers {
  gap: 2px;
  list-style: none;
  align-items: center;
  display: inline-flex;
  align-content: center;
  .btn {
    display: flex;
    align-items: center;
  }
}
