@import 'styles/global';

.succes-container {
  .img-container {
    svg {
      @include slideIn;
      font-size: 18rem;
    }
  }
  text-align: center;
  .succes-title {
    svg {
      margin-left: auto;
    }
    span {
      margin-right: auto;
    }
  }
  .details-container {
    font-size: 1.2rem;
  }
  .thanks-container {
    margin-top: 20px;
  }
  .back__home-btn {
    display: inline-block;
    margin-top: 20px;
  }
}
