@import 'styles/global';

.succes-container {
  .img-container {
    @include slideIn;
    height: 300px;
  }
  text-align: center;
  .succes-title {
    svg {
      margin-left: auto;
    }
    span {
      margin-right: auto;
    }
  }
  .details-container {
    font-size: 1.2rem;
  }
  .thanks-container {
    margin-top: 20px;
  }
}
