@import "styles/global";

h1 {
  padding-bottom: 20px;
}

.grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.grid-item {
  width: 19vw;
  height: 30vh;
  overflow: hidden;
  min-height: 200px;
  position: relative;
  background: $nav-color;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: $border-radius;
  @include main-box-shadow;
  transition: all 0.3s ease-in-out;
  .item-content {
    margin: 0;
    z-index: 1;
    padding: 20px;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    background: $semi-transparent-bg;
  }
  &:hover .item-content {
    @include up-animation;
    background: darken($semi-transparent-bg, 100%);
  }
}

.zoom-in {
  &::after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    position: absolute;
    background: inherit;
    background-size: cover;
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
  }
  &:focus,
  &:hover {
    &::after {
      transform: scale(1.05);
    }
  }
}

@media (max-width: 768px), (max-width: 1024px) {
  .grid {
    height: 160vh;
    flex-direction: column;
  }
  .grid-item {
    width: 100%;
  }
  h1 {
    text-align: center;
  }
}
