@import 'styles/global';

.cart-container {
  height: 100%;
  min-height: 400px;
  padding: 100px 20px;
  padding-bottom: 20px;
  &.container-loading {
    height: calc(100vh - 120px);
  }
  &.container-not-found {
    padding: 0;
  }
}

.cart-table {
  margin-top: 20px;
  table {
    width: 100%;
    // font-size: 12px;
    border-collapse: collapse;
  }

  td,
  th {
    text-align: left;
    padding: 10px;
    border: 1px solid $nav-border-color;
  }

  tr:nth-child(even) {
    background: lighten($nav-border-color, 2%);
  }
}

@media (max-width: 768px) {
  .item-container {
    width: 100% !important;
  }
}
