@import 'styles/global';

.cart-container {
  height: 100%;
  min-height: 400px;
  padding: 100px 20px;
  padding-bottom: 20px;
  &.container-loading {
    height: calc(100vh - 120px);
  }
  &.container-not-found {
    padding: 0;
  }
}

.cart-table {
  overflow: auto;
  margin-top: 20px;
  table {
    width: 100%;
    border-collapse: collapse;
  }

  td,
  th {
    text-align: left;
    padding: 10px;
    border: 1px solid $nav-border-color;
  }

  tr:nth-child(even) {
    background: lighten($nav-border-color, 2%);
  }

  .flex-td {
    display: flex;
    align-items: center;
    align-content: center;
  }

  .total {
    font-weight: 500;
  }

  .td-img {
    width: 100px;
    margin-right: 10px;
  }
}

.checkout-container {
  margin-top: 20px;
  text-align: right;
  .checkout-btn {
    align-items: center;
    display: inline-flex;
    align-content: center;
    svg {
      margin-left: 4px;
    }
  }
}

@media (max-width: 768px) {
  .item-container {
    width: 100% !important;
  }
  .cart-table {
    .td-img {
      margin: 0;
    }
    .flex-td {
      flex-direction: column;
    }
  }

  .delete__item-btn {
    margin: 0;
    margin-top: 10px;
    svg {
      margin: 0 auto;
    }
  }
}
