@import 'styles/global';

.cart-table {
  overflow: auto;
  margin-top: 20px;
  @include slideIn;
  table {
    width: 100%;
    border-collapse: collapse;
  }

  td,
  th {
    text-align: left;
    padding: 10px;
    border: 1px solid $nav-border-color;
  }

  tr:nth-child(even) {
    background: lighten($nav-border-color, 2%);
  }

  .flex-td {
    display: flex;
    align-items: center;
    align-content: center;
  }

  .total {
    font-weight: 500;
  }

  .td-img {
    width: 100px;
    height: 130px;
    margin-right: 10px;
    @include slideIn;
    border-radius: $border-radius;
  }

  .delete__all-btn {
    display: flex;
    background: #ffaaa7;
    align-items: center;
    border-radius: 20px;
    svg {
      margin-left: 4px;
    }
    &:hover,
    &:focus {
      @include up-animation;
      background: darken(#ffaaa7, 5%);
    }
  }
}

@media (max-width: 768px) {
  .cart-table {
    th,
    td {
      padding: 4px;
      font-size: 13px;
    }
    .td-img {
      margin: 0;
      margin-bottom: 4px;
    }
    .flex-td {
      flex-direction: column;
    }
    .td__p-name {
      text-align: center;
    }
    .qty-td {
      text-align: center;
    }
    .delete__all-btn {
      display: block;
      font-size: 12px;
      padding: 6px 10px;
    }
  }
}
