@import "styles/variables";

@mixin main-box-shadow {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.06);
}

@mixin up-animation {
  transform: translateY(-1px);
}

@mixin up-animation-off {
  transform: translateY(0);
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  color: $nav-bg-color;
  transition: all 0.3s;
  text-decoration: none;
  background: $accent-color;
  border-radius: $border-radius;
  &.disabled,
  &.disabled:hover,
  &.disabled:focus,
  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    cursor: default;
    color: $disabled-color;
    background: $disabled-bg-color;
  }
  &:hover {
    color: black;
    @include up-animation;
    background: $darken-accent-color;
  }
  &:active {
    transition: all 0.1s;
    @include up-animation-off;
  }
  &:focus {
    background: $darken-accent-color;
  }
}

.normal-font {
  font-weight: normal;
}

.semibold-font {
  font-weight: 500;
}

.bold-font {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}
