$nav-color: #fff;
$nav-z-index: 10;
$border-radius: 4px;
$footer-bg: #262626;
$category-bg: #f8eee1;
$accent-color: #d7e9f7;
$yellow-btn-bg: #f8f1ae;
$disabled-color: #8c8c8c;
$nav-border-color: #f5f5f5;
$disabled-bg-color: #d9d9d9;
$nav-btn-hover-color: #010606;
$nav-bg-color: darken($footer-bg, 5%);
$semi-transparent-bg: rgba(38, 38, 38, 0.6);
$darken-accent-color: darken($accent-color, 5%);
