@import 'styles/global';

.grid-img {
  width: 200px;
  height: 260px;
  background: white;
  margin-bottom: 10px;
  animation: img-loading 0.3s;
}

@keyframes img-loading {
  from {
    transform: translateY(-10px);
  }
}

.grid-item {
  display: flex;
  padding: 20px;
  position: relative;
  align-items: center;
  align-content: center;
  flex-direction: column;
  border-radius: $border-radius;
  transition: all 0.3s ease-in-out;
  border: 1px solid $nav-border-color;
  &:hover {
    @include up-animation;
    @include main-box-shadow;
  }
}

.grid-item-title {
  margin: 20px 0;
  max-width: 280px;
  overflow: hidden;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.category-name {
  font-weight: 500;
  padding: 4px 8px;
  font-size: 0.875rem;
  border-radius: 20px;
  background: $category-bg;
  text-transform: capitalize;
}

.cart-container {
  margin: 20px 0;
  .cart {
    width: 100%;
    display: flex;
    border-radius: 20px;
    align-items: center;
    align-content: center;
    svg {
      margin-left: 4px;
    }
  }
}

.price-container {
  width: 100%;
  padding: 20px;
  text-align: right;
  .price {
    font-weight: 900;
    font-size: 1.25rem;
  }
}

.description-container {
  display: flex;
  margin: 20px 0;
  max-height: 240px;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.product-description {
  padding: 10px;
  overflow: auto;
  margin: 10px 0;
  max-height: 200px;
  font-size: 0.875rem;
  scroll-behavior: smooth;
  animation: onShowDescription 0.3s;
  background: lighten(#fafafa, 10%);
  border: 1px solid $nav-border-color;
}

@keyframes onShowDescription {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .featured-item {
    width: 100%;
  }
}
