@import 'styles/global';

.featured-container {
  padding: 40px 20px;
  &.featured__container-loading {
    height: 200px;
  }
}

.featured-title {
  display: flex;
  align-items: center;
  align-content: center;
}

.featured__action-btns {
  padding: 20px 0;
  text-align: right;
}

.pagination {
  text-align: right;
}
