@import "styles/global";

.featured-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  align-content: center;
}

.featured-img {
  width: 10vw;
}

.featured {
  display: flex;
  overflow: auto;
  gap: 10px 10px;
  overflow: hidden;
  padding-bottom: 20px;
  scroll-behavior: smooth;
}

.scroll-btns {
  padding: 20px 0;
  text-align: right;
  .next-btn {
    margin-left: 10px;
  }
}

.featured-item {
  width: 16vw;
  display: flex;
  padding: 20px;
  align-items: center;
  align-content: center;
  flex-direction: column;
  border-radius: $border-radius;
  transition: all 0.3s ease-in-out;
  &:hover {
    @include up-animation;
    @include main-box-shadow;
  }
}

.featured-item-title {
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 768px), (max-width: 1024px) {
  .featured-img {
    width: 200px;
  }

  .featured-item {
    width: 100%;
  }
}

@media (hover: none) {
  .featured {
    overflow: auto;
  }

  .scroll-btns {
    display: none;
  }

  .featured-item {
    width: 100%;
  }
}
