@import 'styles/global';

.checkout-container {
  height: 100%;
  min-height: 400px;
  padding: 100px 20px;
  padding-bottom: 20px;
  .back__to-cart-container {
    display: flex;
    margin-top: 20px;
    text-align: right;
    .back__to-cart-btn,
    .place__order-btn {
      margin-right: 10px;
      align-items: center;
      display: inline-flex;
      align-content: center;
      svg {
        margin-right: 4px;
      }
    }
    .back__to-cart-btn {
      margin-left: auto;
    }
    .place__order-btn {
      margin: 0;
      svg {
        margin-left: 4px;
      }
    }
  }
}

@media (max-width: 768px) {
  .item-container {
    width: 100% !important;
  }
}

@media (min-width: 2561px) {
  .checkout-items {
    width: 50%;
    margin: 0 auto;
  }
}
