@import 'styles/global';

.main-navbar {
  width: 100%;
  height: 80px;
  display: flex;
  position: fixed;
  padding: 0 20px;
  align-items: center;
  transition: all 0.3s;
  z-index: $nav-z-index;
  align-content: center;
  background: transparent;
  justify-content: space-between;
  &.fixed__nav-bg {
    background: darken($footer-bg, 5%);
  }
  &.static__nav-bg {
    background: $footer-bg;
  }
}

.dynamic-nav {
  transform: translateY(-80px);
  background: darken($footer-bg, 5%);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.03);
}

.logo {
  border: none;
  display: flex;
  cursor: pointer;
  font-size: 1.5rem;
  color: $nav-color;
  align-items: center;
  transition: all 0.3s;
  text-decoration: none;
  background: transparent;
  border-radius: $border-radius;
  &:hover {
    opacity: 0.85;
    @include up-animation;
  }
  &:active {
    transition: all 0.1s;
    @include up-animation-off;
  }
}

.search-input {
  border: none;
  width: 120px;
  padding: 10px;
  overflow: hidden;
  background: #fff;
  white-space: nowrap;
  transition: all 0.3s;
  text-overflow: ellipsis;
  @include main-box-shadow;
  border-radius: $border-radius;
  &:hover {
    @include up-animation;
  }
  &:active {
    @include up-animation-off;
  }
  &:focus {
    width: 140px;
    @include up-animation;
  }
  &:disabled {
    color: $disabled-color;
    background: $disabled-bg-color;
  }
  &:disabled:active {
    @include up-animation;
  }
}

.search-btn {
  margin-left: 6px;
  margin-right: 20px;
  @include main-box-shadow;
}

.nav-link {
  height: 100%;
  display: flex;
  cursor: pointer;
  color: $nav-color;
  align-items: center;
  text-decoration: none;
  &:active {
    color: $darken-accent-color;
  }
}

.nav-btn-container {
  display: flex;
  align-items: center;
}

.shopping-cart {
  display: flex;
  align-items: center;
  align-content: center;
  @include main-box-shadow;
  border-radius: 20px !important;
  span {
    display: flex;
    margin-left: 4px;
    align-items: center;
    align-content: center;
  }
}

.hamb-icon,
.hamb__icon-container {
  color: $nav-color;
  @include main-box-shadow;
  border-radius: $border-radius;
}

.hamb-icon {
  display: none;
}

.hamb__menu-container {
  top: 0;
  width: 100%;
  z-index: 999;
  height: 100%;
  padding-top: 0;
  position: fixed;
  background: $footer-bg;
  transition: transform 0.3s;
  .nav-btn-container {
    display: flex;
    flex-direction: column;
  }
  .children {
    padding: 0 20px;
    padding-top: 80px;
  }
  &.hamb__menu-in-animation {
    animation: menu-in 0.3s;
  }
  &.hamb__menu-out-animation {
    animation: menu-out 0.3s;
  }
}

@keyframes menu-in {
  from {
    transform: translateX(100%);
  }
}

@keyframes menu-out {
  to {
    transform: translateX(100%);
  }
}

.show__hamb-menu {
  transform: translateX(0);
}

.hamb__icon-align {
  height: 80px;
  display: flex;
  margin-left: auto;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav-btn-container {
    display: none;
  }

  .hamb__icon-container {
    display: flex;
    align-items: center;
  }

  .hamb-icon,
  .hamb__close-icon {
    display: block;
    cursor: pointer;
    font-size: 1.875rem;
  }

  .shopping-cart {
    margin-top: 20px;
  }
}
