@import "styles/global";

.main-navbar {
  width: 100%;
  height: 80px;
  display: flex;
  position: fixed;
  padding: 0 20px;
  align-items: center;
  transition: all 0.3s;
  z-index: $nav-z-index;
  align-content: center;
  background: transparent;
  justify-content: space-between;
  &.fixed__nav-bg {
    background: darken($footer-bg, 5%);
  }
  &.static__nav-bg {
    background: $footer-bg;
  }
}

.app-scrolled {
  .main-navbar:not(.fixed-nav) {
    transform: translateY(-80px);
    background: darken($footer-bg, 5%);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.03);
  }
}

.logo {
  display: flex;
  cursor: pointer;
  font-size: 1.5rem;
  color: $nav-color;
  align-items: center;
  transition: all 0.3s;
  text-decoration: none;
  border-radius: $border-radius;
  &:hover {
    opacity: 0.85;
    @include up-animation;
  }
  &:active {
    transition: all 0.1s;
    @include up-animation-off;
  }
}

.search-input {
  border: none;
  outline: none;
  width: 140px;
  padding: 10px;
  overflow: hidden;
  background: #fff;
  padding-right: 30px;
  white-space: nowrap;
  transition: all 0.3s;
  text-overflow: ellipsis;
  @include main-box-shadow;
  border-radius: $border-radius;
  &:hover {
    @include up-animation;
  }
  &:hover + .search-icon {
    @include up-animation;
  }
  &:active,
  &:active + .search-icon {
    @include up-animation-off;
  }
  &:focus {
    width: 160px;
  }
  &:disabled,
  &:disabled + .search-icon {
    color: $disabled-color;
    background: $disabled-bg-color;
  }
}

.search-icon {
  border: 0;
  padding: 0;
  z-index: 1;
  border: none;
  margin-left: -26px;
  margin-right: 26px;
  transition: all 0.3s;
}

.nav-link {
  height: 100%;
  display: flex;
  cursor: pointer;
  color: $nav-color;
  align-items: center;
  text-decoration: none;
  &:active {
    color: $darken-accent-color;
  }
}

.nav-btn-container {
  display: flex;
  align-items: center;
}

.shopping-cart {
  display: flex;
  @include main-box-shadow;
}

.hamb-icon {
  @include main-box-shadow;
  border-radius: $border-radius;
}

.hamb-icon,
.hamb-container {
  display: none;
  color: $nav-color;
}

@media screen and (max-width: 768px) {
  .nav-btn-container {
    display: none;
  }

  .hamb-container {
    display: flex;
    align-items: center;
  }

  .hamb-icon {
    display: block;
    cursor: pointer;
    font-size: 1.875rem;
  }
}
