@import 'styles/global';

.dynamic-sidebar {
  transform: translateY(-80px);
}

.sidebar {
  z-index: 1;
  width: 240px;
  padding: 20px;
  position: fixed;
  transition: all 0.3s;
  background: $nav-color;
  border-radius: $border-radius;
  border: 1px solid $nav-border-color;
  &.navbar-loading {
    height: 200px;
  }
}

.sidebar-title {
  text-align: center;
  margin-bottom: 20px;
  align-items: center;
}

.sidebar-nav {
  gap: 10px;
  margin: 0;
  padding: 0;
  display: flex;
  @include slideIn;
  list-style: none;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.sidebar-item {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  color: $footer-bg;
  text-align: center;
  border-radius: 20px;
  transition: all 0.2s;
  display: inline-block;
  background: lighten($category-bg, 5%);
  &:hover {
    @include up-animation;
  }
  &.active-filter {
    font-weight: 500;
    background: $category-bg;
  }
  &.clear-filter {
    margin-top: 0;
    display: flex;
    font-weight: 500;
    padding: 10px 20px;
    font-size: 0.875rem;
    background: $accent-color;
  }
  svg {
    margin-right: 2px;
  }
}

.sidebar__item-title {
  margin-left: 4px;
}

.sidebar__item-title-mobile {
  display: none;
}

@media (max-width: 768px) {
  .sidebar {
    left: 0;
    top: 80px;
    padding: 0;
    width: 100%;
    &.navbar-loading {
      height: 70px;
    }
  }

  .sidebar-item {
    display: flex;
    align-items: center;
  }

  .sidebar-title {
    display: none;
  }

  .sidebar-nav {
    gap: 0 10px;
    overflow: auto;
    padding: 10px 20px;
    flex-direction: row;
  }

  .app-scrolled {
    .sidebar {
      transform: translateY(-150px);
    }
  }

  .sidebar-item {
    margin: 0 auto;
    width: max-content;
    &.clear-filter {
      padding: 10px;
      font-size: inherit;
    }
  }

  .sidebar__item-title-mobile {
    display: flex;
  }
}
