@import 'styles/global';

.form-container {
  width: 40%;
  .info-title {
    margin-bottom: 10px;
  }
  .form {
    padding: 20px;
    border-radius: $border-radius;
    border: 1px solid $nav-border-color;
    input[type='text'],
    input[type='email'],
    input[type='number'],
    textarea {
      padding: 10px;
      background: white;
      font-size: inherit;
      border-radius: $border-radius;
      border: 1px solid darken($nav-border-color, 5%);
    }
    .horizontal-group {
      gap: 10px;
      display: flex;
    }
    .name-container {
      width: 50%;
      input {
        width: 100%;
      }
    }
    .email-container {
      width: 30%;
      input {
        width: 100%;
      }
    }
    .zip-container {
      width: 20%;
      input {
        width: 100%;
      }
    }
    textarea {
      width: 100%;
      resize: none;
      height: 80px;
      margin-top: 10px;
    }
    .error {
      color: #d57e7e;
      margin-top: 4px;
      font-size: 13px;
    }
  }
  .back__to-cart-container {
    display: flex;
    margin-top: 20px;
    text-align: right;
    .back__to-cart-btn,
    .place__order-btn {
      margin-right: 10px;
      align-items: center;
      display: inline-flex;
      align-content: center;
      svg {
        margin-right: 4px;
      }
    }
    .back__to-cart-btn {
      margin-left: auto;
    }
    .place__order-btn {
      margin: 0;
      svg {
        margin-left: 4px;
      }
    }
  }
}

@media (max-width: 768px) {
  .horizontal-group {
    flex-direction: column;
    .name-container,
    .email-container,
    .zip-container {
      width: 100% !important;
    }
  }
}

@media (max-width: 1600px) {
  .form-container {
    width: 100%;
  }
}
