@import 'styles/global';

.info-title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.form {
  padding: 20px;
  border-radius: $border-radius;
  border: 1px solid $nav-border-color;
  input[type='text'],
  input[type='email'],
  input[type='number'],
  textarea {
    padding: 10px;
    background: white;
    font-size: inherit;
    border-radius: $border-radius;
    border: 1px solid darken($nav-border-color, 5%);
  }
  .horizontal-group {
    gap: 10px;
    display: flex;
    align-items: center;
    align-content: center;
  }
  input[type='text'] {
    width: 60%;
  }
  input[type='email'] {
    width: 30%;
  }
  input[type='number'] {
    width: 10%;
  }
  textarea {
    width: 100%;
    resize: none;
    height: 80px;
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .horizontal-group {
    flex-direction: column;
    input {
      width: 100% !important;
    }
  }
}
