@import "styles/global";

footer {
  z-index: 1;
  color: white;
  height: 120px;
  display: flex;
  padding: 0 20px;
  position: relative;
  align-items: center;
  background: $footer-bg;
  justify-content: center;
  border-top: 1px solid $nav-border-color;
  & .footer-item {
    padding: 10px;
  }
  & .footer-container {
    text-align: center;
  }
  & .footer-link {
    color: white;
    padding: 2px 6px;
    font-weight: 500;
    border-radius: 4px;
    transition: all 0.3s;
    text-decoration: none;
    background: lighten($footer-bg, 3%);
    &:hover {
      background: lighten($footer-bg, 5%);
    }
  }
  & .github-link svg {
    vertical-align: middle;
  }
}
