@import 'styles/global';

.products-container {
  height: 100%;
  min-height: 400px;
  padding: 100px 20px;
  padding-bottom: 20px;
  &.container-loading {
    height: calc(100vh - 120px);
  }
}

.product__main-title,
.product-list {
  padding-left: 16rem;
}

.product-title {
  margin: auto;
  max-width: 260px;
  margin-top: 20px;
  overflow: hidden;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.product-item {
  padding: 20px;
  border-radius: $border-radius;
  transition: all 0.3s ease-in-out;
  border: 1px solid $nav-border-color;
  &:hover {
    @include up-animation;
    @include main-box-shadow;
  }
}

.category-container {
  padding: 20px;
  text-align: center;
  .category-name {
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 20px;
    background: $category-bg;
    text-transform: capitalize;
  }
}

.price-container {
  padding: 20px;
  text-align: right;
  .price {
    font-weight: 900;
    font-size: 1.25rem;
  }
}

.product__img-container {
  text-align: center;
  .product-img {
    width: 200px;
    border-radius: $border-radius;
  }
}

.product__not-found {
  display: flex;
  font-size: 18px;
  align-items: center;
}

@media (max-width: 768px) {
  .product-item {
    margin: 0;
    padding: 0;
  }

  .product__main-title,
  .product-list {
    padding-left: 0;
  }

  .product__main-title {
    margin-top: 80px;
  }

  .product__not-found {
    padding: 40px;
    margin: 0 auto;
  }
}
