@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.main-container {
  min-height: calc(100vh - 120px);
  .container {
    padding: 40px 20px;
  }
  .page-container {
    padding: 100px 20px;
    padding-bottom: 4px;
  }
}
