.error-container {
  min-height: 400px;
  padding: 100px 20px;
  padding-bottom: 20px;
  height: calc(100vh - 120px);
  display: table;
  width: 100%;
  text-align: center;
  &.no-height {
    height: 100%;
  }
  .error {
    display: table-cell;
    vertical-align: middle;
    svg {
      font-size: 60px;
    }
    .err-title {
      span {
        margin-left: 2px;
        animation: blinking 0.5s alternate infinite;
      }
    }
  }
}

@keyframes blinking {
  from {
    color: transparent;
  }
  to {
    color: black;
  }
}
